:root {
    --primary-color: #FA7436;
    --text-color: #222222;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Chiron Sung HK", serif;
    font-style: normal;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p {
    margin: 0;
    color: var(--text-color);
}

.header-section,
.banner-section {
    background: #FEFCFB;
}

.banner-section {
    padding-bottom: 70px;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding: 15px 0;
}

.menu-list {
    ul {
        display: flex;
        padding: 0;
        list-style: none;
        gap: 20px;
        margin: 0;

        li {
            a {
                font-size: 20px;
            }
        }
    }
}

.primary-button {
    background: var(--primary-color);
    border-radius: 5px;
    border: none;
    /* box-shadow: 0 8px 16px #fa743659; */
    color: #fff;
    padding: 14px 30px;
    font-size: 20px;
}

.nav-quick-action {
    display: flex;
    align-items: center;
    gap: 40px;

    a {
        color: var(--primary-color);
        font-size: 20px;
    }

    button {
        box-shadow: 0 8px 16px #fa743659;
    }
}

.banner-part {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 70px;

    .banner-content {
        h1 {

            span {
                color: var(--primary-color);
            }
        }

        p {
            font-size: 25px;
            line-height: 2;
            color: #a19c9c;
            font-family: 'Poppins';
        }

        a {
            font-family: 'Poppins';
            background: #fff;
            display: inline-block;
            border: 2px solid #fa7436;
            color: #fa7436;
            padding: 20px 20px;
            font-size: 24px;
            margin-top: 50px;
            border-radius: 5px;
        }
    }

    .banner-image {
        position: relative;
        right: -70px;
    }
}

.export-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0px 0px 4px 2px #f2f2f2;

    .select-wrapper {
        font-family: 'Poppins';

        p {
            padding-top: 10px;
            color: #aaa;
        }

        select {
            border: none;
            font-size: 20px;
            text-transform: capitalize;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;

            &:focus {
                outline: none;
            }
        }
    }

    i {
        color: var(--primary-color);
    }
}

section.things-to-do-section {
    background: #F7F8FC;
    padding: 70px 0;

    .things-todo-card-parent {
        gap: 20px;
        display: flex;
        justify-content: space-between;
        padding-top: 70px;

        .todo-card {
            /* background-repeat: no-repeat; */
            /* background-size: 150%; */
            /* background-position: center; */
            padding: 50px;
            background: #fff;
            font-family: 'Poppins';
            border: 2px solid #ececec;
            border-radius: 8px;
            box-shadow: 0 0 5px #efefef;

            /* &:nth-child(even){
        background-image: url("../card2.png");
    }
    &:nth-child(odd){
        background-image: url("../card1.png");
    } */
            h4 {
                font-family: 'Poppins';
                font-size: 24px;
                font-weight: 600;
                margin-top: 45px;
            }

            p {
                color: #a09e9e;
                font-size: 18px;
                margin-top: 15px;
            }
        }
    }
}

section.deal-discount-section {
    padding: 50px 0;
    background: #FEFCFB;

    .card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-left: 12px;
        padding-right: 12px;

        h5 {
            font-size: 24px;
            font-family: 'Poppins';
            font-weight: 500;
        }


    }

    .rating-sec {
        i {
            color: #f4f727;
            font-size: 24px;
            margin-right: 5px;
        }

        span {
            font-size: 20px;
            color: #434343;
        }
    }

    .card-details {
        font-size: 18px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #aaa;

        p {
            color: #aaa;
            font-size: 18px;

            i {
                margin-right: 8px;
            }
        }

        .offer-details span {
            background: #fff0ea;
            border-radius: 5px;
            padding: 2px 10px;
            margin-left: 15px;
            color: var(--primary-color);
        }
    }

    .deal-card {
        background: #ffff;
        font-family: 'Poppins';
        padding-bottom: 20px;
        border: 3px solid #e0e0e0;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 10px;



    }
}



.section-basic {
    position: relative;
    width: 70%;
    margin: 0 auto;

    h2 {
        text-align: center;
        font-size: 40px;

        span {
            color: var(--primary-color);
        }

    }

    img {
        position: absolute;
        right: 0;
        top: 0;
    }

    p {
        text-align: center;
        font-family: 'Poppins';
        font-size: 18px;
        color: #aaa;
        width: 45%;
        margin: 0 auto;
        margin-top: 15px;
    }
}

section.deal-discount-section.vacation-section {
    .cost-details {
        color: var(--primary-color);
        font-size: 20px;
        font-weight: 600;
    }

    p {
        i {
            color: var(--primary-color);
        }
    }

}

/* splider css */
.deals-discount-content {
    .hover-effect {
    display: none;
}
.hover-parent {
    position: relative;
}
.deal-card:hover .hover-effect {
    position: absolute;
    display: flex;
    align-items: end;
    padding-bottom: 40px;
    justify-content: center;
    background: #0000004d;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
    padding: 50px 0;
    padding-bottom: 0;

    div#image-carousel {
        display: flex;
        flex-direction: column-reverse;

        .splide__arrows {
            display: flex;
            gap: 40px;
            justify-content: center;
            align-items: center;
            padding-top: 40px;
        }
    }

    div#vacantion-carousel {
        .splide__arrows {
            display: flex;
            gap: 40px;
            justify-content: end;
        }
    }

    .splide__track {
        padding-bottom: 30px;
    }

    .splide__arrow {
        /* bottom: -80px; */
        /* top: unset; */
        background: #fff;
        border: 1px solid #aaa;
        width: 40px;
        height: 40px;
        font-family: 'Font Awesome 6 Free';
        font-weight: 700;
        font-size: 24px;
        position: unset;
        color: #aaa;

        &:hover {
            background-color: var(--primary-color);
            color: #fff;
            border: 1px solid;
        }
    }

    .splide__arrow--next {
        right: unset;

        &:after {
            content: '\f061';
        }
    }

    .splide__arrow--prev {
        left: unset;

        &:after {
            content: '\f060';
        }
    }

    .splide__arrow svg {
        display: none;
    }
}

.splide__slide img {
    width: 100%;
    height: auto;
}

section.deal-discount-section.testimonial-section {
    background: #f3f3f3;

    .testimonial-parent {
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;

        .testimonial-slider {
            .deal-card {
                border: none;

                .card-title {
                    display: block;
                    padding: 30px 50px;

                    .testimonial-details {
                        margin-top: 40px;

                        span {
                            color: #666;
                        }

                        h5 {
                            font-size: 20px;
                        }
                    }
                }

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    position: absolute;
                    left: 25px;
                    top: 32px;
                }
            }
        }

        .splide__slide {
            padding: 70px 0px 0px 70px;
        }

        .splide {
            position: unset;

            .splide__arrows {
                position: absolute;
                left: 0;
                bottom: 0;
                display: flex;
                gap: 40px;
            }
        }

        .section-basic {
            width: 50%;

            h2,
            p {
                text-align: left;
                width: auto;
            }
        }
    }
}

.testimonial-slider.deals-discount-content {
    width: 50%;
}

section.lastest-blog-section {
    .splide__pagination__page.is-active {
        background-color: var(--primary-color);
    }

    .deal-card {
        border: none;
        background: transparent;

        img {
            border-radius: 0 0 10px 10px;
        }

        p {
            margin-top: 20px;
        }

        span {
            color: #666;
        }
    }
}

section.subcription-section {
    .subscription-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .mail-content {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 40%;
            top: 0;
            bottom: 0;
            justify-content: center;
            align-items: center;

            h2 {
                font-size: 40px;
                color: #fff;
                text-align: center;
            }

            .input-mail-content {
                width: 100%;
                margin-top: 40px;
                position: relative;
                display: flex;

                input[type="email"] {
                    border: none;
                    font-size: 20px;
                    padding: 20px 50px;
                    border-radius: 10px;
                    width: -webkit-fill-available;

                }

                button {
                    position: absolute;
                    border: none;
                    border-radius: 10px;
                    background: var(--primary-color);
                    color: #fff;
                    padding: 0 18px;
                    font-size: 18px;
                    top: 5px;
                    bottom: 5px;
                    right: 5px;
                }
            }
        }

        img {
            width: 100%;
        }
    }
}

.footer-section {
    background-color: #f9fafc;
    padding: 170px 0 30px;
    font-family: "Poppins", sans-serif;
    color: #555;
    margin-top: -100px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.footer-brand {
    flex: 1 1 250px;
}

.footer-brand h2 {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}

.footer-brand p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 14px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.social-icons a:nth-child(2) {
    background-color: #ff5722;
    color: #fff;
}

.social-icons a:hover {
    transform: translateY(-3px);
}

.footer-links {
    display: flex;
    flex: 2 1 600px;
    justify-content: space-between;
}

.footer-links h4 {
    font-weight: 600;
    color: #000;
    margin-bottom: 12px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #000;
}

.footer-section hr {
    border: none;
    border-top: 1px solid #e2e2e2;
    margin: 30px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
    color: #888;
}

.footer-bottom a {
    text-decoration: none;
    color: #888;
}

.footer-bottom a:hover {
    color: #000;
}

.burger-menu {
    display: none;
}

@media (min-width:768px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    h1 {
        font-size: 48px;
    }

}

@media (min-width: 1280px) {
    h1 {
        font-size: 64px;
    }
}

@media (min-width: 1920px) {
    h1 {
        font-size: 75px;
    }
}
@media (max-width:1440px) {
    .container {
        width: 90%;
        margin: auto;
    }
    .banner-part {
        .banner-content {
            a{
                            padding: 10px 10px;
            font-size: 15px;
            }
        h1 {
                    font-size: 35px;
        }
        p{
            font-size: 18px;    
        }
    }
    .banner-image{
                right: 0;
                img{
                    width: 700px;
                }
    }
}
}
@media (max-width:1024px) {
    .hover-effect{
       button.primary-button{
        padding: 7px 17px;
    font-size: 15px;
       } 
    }
    .burger-menu {
        display: block;
    }

    .menu-list,
    .nav-quick-action {
        display: none;
    }

    .container {
        width: 90%;
        margin: auto;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .menu-toggle.active {
        display: block;
    }
body:has(> section.header-section .navigation-bar .menu-list.menu-toggle.active) {
    overflow: hidden;
}
    .menu-list.active {
                z-index: 9;
        position: absolute;
        top: 62px;
        bottom: 0;
        background: #ffebe2;
        right: 0;
        left: 0;

        ul {
            display: block;
            padding: 6px 25px;

            li {
                padding: 5px;
                border-bottom: 1px solid #FA7436;
            }
        }
    }

    .nav-quick-action.menu-toggle.active {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #eee;
        padding: 9px 16px;
        display: flex;
        justify-content: space-between;
        z-index: 9;
    }

    /* section 1 */
    .banner-part {

        padding-bottom: 20px;
        flex-direction: column-reverse;

        .banner-image {
            right: 0;

            img {
                width: 100%;
            }
        }

        .banner-content {
            p {
                font-size: 15px;
            }

            a {
                padding: 10px 20px;
                font-size: 15px;
                margin-top: 10px;
            }

        }

    }

    .export-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;

        .select-wrapper {
            text-align: center;
        }

        .primary-button {
            margin-top: 10px;
        }
    }

    .section-basic {
        width: 100% !important;

        img {
            top: -84px;
        }

        h2 {
            font-size: 24px;
            text-align: center !important;
        }

        p {
            margin-top: 10px;
            width: 100%;
            text-align: center !important;
            font-size: 15px;

        }
    }

    section.things-to-do-section {
        padding: 30px 0;

        .things-todo-card-parent {
            padding-top: 30px;
            flex-wrap: wrap;
            gap: 10px;

            .todo-card {
                padding: 10px;
                flex: 1 1 calc(33.333% - 20px);

                h4 {
                    margin-top: 0;
                    font-size: 20px;
                }

                p {
                    font-size: 15px;
                    margin-top: 0;
                }
            }
        }
    }

    section.deal-discount-section {
        .card-title {
            h5 {
                font-size: 18px;
            }
        }

        .rating-sec {
            span {
                font-size: 12px;
            }

            i {
                font-size: 15px;
                margin-right: 2px;
            }
        }

        .card-details {
            display: block;

            p {
                font-size: 18px;
                margin-bottom: 8px;
            }
        }
    }

    section.deal-discount-section.testimonial-section {
        .testimonial-parent {
            display: block;
        }

        .testimonial-slider.deals-discount-content {
            width: 100%;
            padding: 0 0;
        }
    }

    section.lastest-blog-section {
        .deal-card {
            p {
                font-size: 13px;
            }

            span {
                font-size: 12px;
            }
        }
    }

    section.subcription-section {
        .subscription-content {
            .mail-content {
                width: 100%;

                .input-mail-content {
                    width: 90%;

                    button {
                        border-radius: 5px;
                        font-size: 14px;
                    }

                    input[type="email"] {
                        font-size: 14px;
                        padding: 10px 15px;
                        border-radius: 5px;
                    }
                }

                h2 {
                    font-size: 20px;
                }
            }

            img {
                min-height: 225px;
            }
        }
    }
}
